
.Rproj.user/53952BA4/build_options
.Rproj.user/53952BA4/cpp-definition-cache
.Rproj.user/53952BA4/pcs/debug-breakpoints.pper
.Rproj.user/53952BA4/pcs/files-pane.pper
.Rproj.user/53952BA4/pcs/find-replace-in-files.pper
.Rproj.user/53952BA4/pcs/source-pane.pper
.Rproj.user/53952BA4/pcs/windowlayoutstate.pper
.Rproj.user/53952BA4/pcs/workbench-pane.pper
.Rproj.user/53952BA4/persistent-state
.Rproj.user/53952BA4/rmd-outputs
.Rproj.user/53952BA4/saved_source_markers
.Rproj.user/53952BA4/sources/prop/0395EC5B
.Rproj.user/53952BA4/sources/prop/04C5D8E7
.Rproj.user/53952BA4/sources/prop/0640C7EF
.Rproj.user/53952BA4/sources/prop/318912AD
.Rproj.user/53952BA4/sources/prop/44C2372B
.Rproj.user/53952BA4/sources/prop/47D3CEDD
.Rproj.user/53952BA4/sources/prop/52C90032
.Rproj.user/53952BA4/sources/prop/5FC88F6E
.Rproj.user/53952BA4/sources/prop/9F2CEF47
.Rproj.user/53952BA4/sources/prop/BC5AE1BF
.Rproj.user/53952BA4/sources/prop/C1FC759C
.Rproj.user/53952BA4/sources/prop/INDEX
.Rproj.user/53952BA4/sources/s-495CC27D/1586BB36-contents
.Rproj.user/53952BA4/sources/s-495CC27D/1599F37A
.Rproj.user/53952BA4/sources/s-495CC27D/1599F37A-contents
.Rproj.user/53952BA4/sources/s-495CC27D/5214822E-contents
.Rproj.user/53952BA4/sources/s-495CC27D/542A6E1F
.Rproj.user/53952BA4/sources/s-495CC27D/542A6E1F-contents
.Rproj.user/53952BA4/sources/s-495CC27D/59BC1B76-contents
.Rproj.user/53952BA4/sources/s-495CC27D/779F90BB-contents
.Rproj.user/53952BA4/sources/s-495CC27D/7D16A7AE-contents
.Rproj.user/53952BA4/sources/s-495CC27D/835D0DC5-contents
.Rproj.user/53952BA4/sources/s-495CC27D/84D54425
.Rproj.user/53952BA4/sources/s-495CC27D/84D54425-contents
.Rproj.user/53952BA4/sources/s-495CC27D/BF7B20F0
.Rproj.user/53952BA4/sources/s-495CC27D/BF7B20F0-contents
.Rproj.user/53952BA4/sources/s-495CC27D/F5FE9993-contents
.Rproj.user/53952BA4/sources/s-495CC27D/FD004251-contents
.Rproj.user/53952BA4/sources/s-495CC27D/lock_file
.Rproj.user/53952BA4/vcs_options
.Rproj.user/shared/notebooks/50777030-README/1/53952BA4495CC27D/chunks.json
.Rproj.user/shared/notebooks/50777030-README/1/s/chunks.json
.Rproj.user/shared/notebooks/8E3B5FFC-fars_functions/1/53952BA42867F6D6/chunks.json
.Rproj.user/shared/notebooks/8E3B5FFC-fars_functions/1/53952BA4495CC27D/chunks.json
.Rproj.user/shared/notebooks/8E3B5FFC-fars_functions/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
accident_2013.csv.bz2
accident_2014.csv.bz2
accident_2015.csv.bz2
.Rproj.user
